
.Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 40px;
  height: 0;
}

.Section-title {
  font-size: 3rem;
  font-weight: 500;
  margin-right: auto;
  cursor: pointer;
  transition: font-size 0.750s;
  color: #fff;
  background-color: #00000087;
  padding: 10px;
}

.Section-content {
  opacity: 0;
  overflow: auto;
  padding-right: 15px;
  margin: 30px auto 30px 30px;
  height: 0%;
  transition: opacity 1s, height 0.750s;
}

.Section.expanded {
  flex-grow: 4;
  transition: flex-grow 0.750s;
}

.Section.expanded .Section-title {
  font-size: 2rem;
}

.Section.expanded .Section-content {
  visibility: visible;
  opacity: 1;
  height: 100%;
  transition: opacity 2s, height 0.750s;
}

.Section .loader {
  display: inline-block;
  font-size: 8px;
  margin: 0 0 10px 40px;
  color: #00000087;
  position: absolute;
  margin-top: 20px;
}